.container-fluid.bg-info
  .container.bg-info
    nav.navbar.navbar-expand-lg.navbar-dark
      a.navbar-brand(href='/') LoginEx
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.dropdown.mr-2
            a.nav-link.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') 게시판
            .dropdown-menu
              a.dropdown-item(href='/board/c/fr/p/1') 자유게시판
              a.dropdown-item(href='/board/c/cm/p/1') 유머게시판
              a.dropdown-item(href='/board/c/qa/p/1') 질문게시판
          if isLogined
            li.nav-item
              a.nav-link(href='/user/logout') 로그아웃
          else
            li.nav-item
              a.nav-link(href='/user/login') 로그인
          
