.container-fluid.bg-info.sticky-top
  .container.bg-info
    nav.navbar.navbar-expand-lg.navbar-dark
      a.navbar-brand(href='/') LoginEx
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home 
              span.sr-only (current)
          if isLogined
            li.nav-item
              a.nav-link(href='/user/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/user/login') LogIn
