extends layout.pug
include mixins.pug

block nav
    include includes/nav.pug
block contents
    case content
        when 'signin': +_signinPage()
        when 'login': +_loginPage()
        when 'bbsAdd': +_boardAddPage()
        when 'bbsView': +_boardViewPage()
        when 'bbsList': +_boardListPage()
        when 'bbsUpdate': +_boardUpdatePage()
        when 'bbsTest': +_boardTestPage()
        default: +_defaultPage()
block footer
    include includes/footer.pug