@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean");
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Noto Sans KR", sans-serif;
}
/* common view */
.c-content-area {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 112px);
}
.w-10 {
  width: 10%;
}
.w-30 {
  width: 30%;
}
.c-btn {
  cursor: pointer;
}
/* login view */
.c-login-box {
  height: 75vh;
  border: 2px solid #b2bec3;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.c-box-left,
.c-box-right {
  width: 36%;
}
/* signin view */
.c-signin-box {
  width: 576px;
}
.c-title-input {
  border: 0;
  outline: none;
  font-size: 1.5rem;
  border-bottom: 1px #b2bec3 solid;
}
.input-group-text.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-text.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}
.input-group-text.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
/* boardList Column size */
table thead tr th:nth-child(1) {
  width: 5%;
}
table thead tr th:nth-child(2) {
  width: 55%;
}
table thead tr th:nth-child(3) {
  width: 15%;
}
table thead tr th:nth-child(4) {
  width: 15%;
}
table thead tr th:nth-child(5) {
  width: 10%;
}
/* comment & reply */
.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-top: 2px solid #b2bec3;
  margin-top: 1rem;
}
.comment-item,
.comment-form {
  width: 100%;
  margin-top: 1rem;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}
.comment-item.depth {
  width: 95%;
  align-self: flex-end;

  margin-top: 0.5rem;
}
.comment-item.depth .comment-header {
  background: rgba(186, 220, 88, 0.6);
}
.comment-item form {
  border-top: 1px dashed rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.comment-form {
  padding: 1.5rem 1rem;
}
.comment-header {
  padding: 1rem;
  background: rgba(0, 0, 0, 0.25);
}
.comment-header button {
  background: transparent;
  outline: none;
  border: 0;
}
.comment-title {
  font-weight: 700;
  font-size: 1.2rem;
}
.comment-date {
  color: rgba(0, 0, 0, 0.5);
}
.comment-body {
  margin-bottom: 0.5rem;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.comment-footer {
  padding: 0.5rem 1rem 1rem 1rem;
}
.comment-like,
.comment-unLike,
.comment-reply {
  background: transparent;
  outline: none;
  border: 0;
}
.comment-edit:hover,
.comment-del:hover,
.comment-like:hover,
.comment-unLike:hover,
.comment-reply:hover {
  color: #636e72;
  transform: scale(1.1);
}
