.container.d-flex.flex-column.justify-content-around.align-items-start.c-content-area
    if isLogined
        +__userInfo(JSON.parse(loginParams))
    else
        h1 Not login
        a(href='/user/login') login