.container.d-flex.flex-column.justify-content-around.align-items-start.c-content-area
    if isLogined
        if msg
            +__msgAlertSuccess(msg)
        +__userInfo(JSON.parse(loginUser))
    else
        h1 Not login
        a(href='/user/login') login