.d-flex.p-2.w-100.h-75.bd-highlight.justify-content-center.align-items-center.c-content-area
  form.d-flex.flex-column.w-50.h-75.justify-content-between.align-items-start.js__signinfrm(action='/user/signin' method='POST')
    label(for='userId') Email
    input#userId.form-control(type='email' placeholder='Email Address' name='userId' required='')
    label(for='userPassword') Password
    input#userPassword.form-control(type='password' placeholder='Password..' name='userPassword' required='')
    label(for='userPasswordCheck') Password Confirm
    input#userPasswordCheck.form-control(type='password' placeholder='Password Confirm..' required='')
    #passwordCheckText.alert.alert-primary.mt-2.w-100(role='alert')
      | Checking Password Confirm..
    label(for='userNickName') NickName
    input#userNickName.form-control(type='text' placeholder='NickName..' name='userNickName')
    button.btn.btn-success.mt-2.w-100(type='submit') SignIn

script(src="/javascripts/common.js")