script(src='/javascripts/validation.js')
.d-flex.p-2.w-100.h-75.bd-highlight.justify-content-center.align-items-stretch.c-content-area
  form.d-flex.mt-5.h-100.flex-column.justify-content-around.align-items-start.c-signin-box.js__signinfrm(action='/user/signin' method='POST')
    h1.pb-3.w-100.text-center.border-bottom.border-info 신규회원가입
    label.mt-4.font-weight-bold(for='userName') 닉네임
    .input-group
      input#userName.form-control(type='text' name='userName' maxlength=20 required)
      .input-group-append
        span#userNameAddOn
    span#userNameStatus.text-muted 닉네임을 입력해주세요 (한글 또는 영문 4-20자, _ 외 특수문자 불가)
    label.mt-4.font-weight-bold(for='userEmail') 이메일
    .input-group
      input#userEmail.form-control(type='email' name='userEmail' required)
      .input-group-append
        span#userEmailAddOn
    span#userEmailStatus.text-muted 이메일 주소를 입력해주세요
    label.mt-4.font-weight-bold(for='userPassword') 비밀번호
    .input-group
      input#userPassword.form-control(type='password' name='userPassword' maxlength=20 required)
      .input-group-append
        span#userPasswordAddOn
    span#userPasswordStatus.text-muted 비밀번호를 입력해주세요 (영문 소문자, 대문자 숫자 1개 이상 필수)
    label.mt-4.font-weight-bold(for='userPasswordConfirm') 비밀번호 확인
    .input-group
      input#userPasswordConfirm.form-control(type='password' maxlength=20 required)
      .input-group-append
        span#userPasswordConfirmAddOn
    span#userPasswordConfirmStatus.text-muted 비밀번호를 한 번 더 입력해주세요
    .d-flex.justify-content-between.align-items-self.w-100.mt-4
      button.btn.btn-outline-info.w-30.js__signinbtn(type='button') 회원가입
      button.btn.btn-outline-warning.w-30.js__resetbtn(type='button') 초기화
      button.btn.btn-outline-danger.w-30.js__cancelbtn(type='button') 취소